<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myInitialTextLabel">Create or edit a Initial Text</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!initialText.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="initialText.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_text">Text</label>
            <input type="text" class="form-control" name="text" id="field_text"
                [(ngModel)]="initialText.text" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_userId">User Id</label>
            <input type="number" class="form-control" name="userId" id="field_userId"
                [(ngModel)]="initialText.userId" />
        </div>

        <div class="form-group">
            <label class="form-control-label" for="field_initial">Initial</label>
            <select class="form-control" id="field_initial" name="initial" [(ngModel)]="initialText.initial">
                <option [ngValue]="null"></option>
                <option [ngValue]="documentSentimentOption.id === initialText.initial?.id ? initialText.initial : documentSentimentOption" *ngFor="let documentSentimentOption of initials; trackBy: trackDocumentSentimentById">{{documentSentimentOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_subject">Subject</label>
            <select class="form-control" id="field_subject" name="subject" [(ngModel)]="initialText.subject" >
                <option [ngValue]="null"></option>
                <option [ngValue]="subjectOption.id === initialText.subject?.id ? initialText.subject : subjectOption" *ngFor="let subjectOption of subjects; trackBy: trackSubjectById">{{subjectOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
